.accueil {
	display: grid;
	width: 100vw;
	height: 100vh;
	background-color: #d9d9d9;
	overflow: hidden;
	grid-template-columns: 1fr 1fr 1fr;
}

a {
	text-decoration: none;
	color: black;
}

.menuJeu {
	grid-column: 2;
	grid-row: 1;
	justify-self: center;
	align-self: center;
}

.menuJeu > a {
	display: flex;
	width: 250px;
	height: 150px;
	background-color: #aca3a3;
	border-radius: 30px;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	margin: 10px;
}

.menuGauche {
	display: none;
}

.titre {
	display: flex;
	grid-column: 3;
    justify-self: end;
    height: 100vh;
    overflow: hidden;
}

h1 {
	font-size: 100px;
	letter-spacing: 10px;

    margin-left: 10px;

	writing-mode: vertical-rl;

	animation: scrollTitle 5s linear infinite;
}

.delay-1 {
	animation-delay: 5s;
}
.delay-2 {
	animation-delay: 10s;
}

@keyframes scrollTitle {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(100%);
	}
}

.colonne-titre {
	width: 120px;
	background-color: #ACA3A3;
	height: 850%;
	transform: translateY(-50%);
}

.barre-verticale {
	width: 40px;
	height: 100%;
	background-color: #8B5C5C;
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
}