.accueil {
	display: grid;
	width: 100vw;
	height: 100vh;
	background-color: #d9d9d9;
	overflow: hidden;
	grid-template-columns: 1fr 1fr 1fr;
}

a {
	text-decoration: none;
	color: black;
}

.menuJeu {
	grid-column: 2;
	grid-row: 1;
	justify-self: center;
	align-self: center;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.menuJeu > a {
	display: flex;
	width: 250px;
	height: 150px;
	background-color: #aca3a3;
	border-radius: 30px;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	margin: 10px;
}

.titre {
	display: flex;
	grid-column: 3;
    justify-self: end;
    height: 100vh;
    overflow: hidden;
}

h1 {
	font-size: 100px;
	letter-spacing: 10px;

    margin-left: 20px;

	writing-mode: vertical-rl;

	animation: scrollTitle 5s linear infinite;
}

@keyframes scrollTitle {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(100%);
	}
}

.colonne {
	width: 150px;
	background-color: #ACA3A3;
	transform: translateY(-30%);
	height: 150%;
}

.barre-verticale {
	width: 40px;
	height: 100%;
	background-color: #8B5C5C;
}

.barre-verticale.droite {
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.pseudo-input {
    height: 44px;
    width: 220px;
    background-color: #ffffff;
    border: 3px solid #aca3a3;
    border-radius: 6px;
    font-size: 22px;
    color: #4a4a4a;
	margin: 10px;
	padding-left: 15px;
}

.pseudo-input::placeholder {
    color: #a9a9a9;
}

.menuGauche {
    display: flex;
    grid-column: 1;
    justify-self: start;
    height: 100vh;
	position: relative;
    z-index: 10;
}

.colonne.gauche {
	position: absolute;
	transform: translateY(0%);
    background-color: #ACA3A3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    height: 100vh;
	transition: width 2s linear;
}

.colonne.gauche > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31vh; 
	width: 114px;
	margin: 18px;
	border-radius: 15px;
    white-space: nowrap; 
	background-color: #D8C8C8;
	cursor: pointer;
	transition: width 1s linear; 
}

.colonne.gauche a {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
	transform: rotate(-180deg);
	writing-mode: vertical-rl;
}

.barre-verticale.gauche {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    position: absolute;
    left: 150px;
    transition: left 2s linear; 
}

.fond{
	display: flex;
	flex-direction: column;
	left: 150px;
	position: absolute;
    background-color: #D8C8C8;
    height: 95.4%;
	width: 20px;
	transition: width 2s linear;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	overflow-y: auto;
	align-items: center;
}

.accueil:has(.ouvert) {
	.menuJeu {
		filter: blur(2px) brightness(0.8);
		transition: filter 0.4s;
		pointer-events: none;
	}
	.barre-verticale.gauche {
		left: 800px;
	}

	.fond {
		width: 630px;
	}

	.colonne.gauche{
		width: 800px;
	}

	.fond > * {
		opacity: 1;
	}
}

.colonne.gauche > div.btn-cliquer {
	width: 135px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.fond > * {
    opacity: 0;
    transition: opacity 0.3s ease;
}