@import url("palette.css");

@font-face {
	font-family: titreFont; 
  	src: url(font/telematic-font/Telematic-BL5aV.ttf);
}

@font-face {
	font-family: gaucheFont; 
  	src: url(font/atures-font/Atures900PersonalUseOnly-oZMB.ttf);
}

@font-face {
	font-family: baseFont; 
  	src: url(font/averox-font/Averox-rgY9y.ttf);
}

.accueil {
	display: grid;
	width: 100vw;
	height: 100vh;
	background-color: var(--black2);
	overflow: hidden;
	grid-template-columns: 1fr 1fr 1fr;
}

a {
	text-decoration: none;
}


.menuJeu {
	grid-column: 2;
	grid-row: 1;
	justify-self: center;
	align-self: center;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.menuJeu > a {
	font-family: baseFont;
	font-weight: 900;
	color : var(--white1);
	background-color: var(--black3);
	border: 3px solid var(--white1);
	border-radius: 6px;
	font-size: 25px;

	display: flex;
	width: 250px;
	height: 150px;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.titre {
	color: var(--electric-purple2);

	font-family: titreFont !important;
	display: flex;
	grid-column: 3;
    justify-self: end;
    height: 100vh;
    overflow: hidden;
	font-weight: bold;
}

h1 {
	font-size: 100px;
	letter-spacing: 10px;

    margin-left: 20px;

	writing-mode: vertical-rl;

	animation: scrollTitle 5s linear infinite;
}

@keyframes scrollTitle {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(100%);
	}
}

.colonne {
	background-color: var(--electric-citrus1);
	width: 150px;
	transform: translateY(-40%);
	height: 170%;
}

.pseudo-input {
	outline: none;
    height: 44px;
    width: 220px;
    background-color: var(--black3);
	color: var(--white1);
	border:  3px solid var(--white1);
    border-radius: 6px;
    font-size: 22px;
	margin: 10px;
	padding-left: 15px;
	transition: border-radius 0.1s ease;
	font-weight: 500;
}

.pseudo-input:hover,
.menuJeu > a:hover{
	border-radius: 12px;

	transition: border-radius 0.125s ease;
}

.pseudo-input:focus,
.menuJeu > a:hover{
	color: var(--electric-purple1);
	border-color: var(--electric-citrus1);
	background-color: var(--black4);
	box-shadow: 0 0 1px 1px var(--electric-citrus2);

	transition: border-color 0.3s ease, background-color 0.125s ease, color 0.125s ease, box-shadow 0.125s ease;
}

.pseudo-input:not(focus),
.menuJeu > a:not(focus){
	transition: border-color 0.3s ease, color 0.125s ease;
}

.menuGauche {
    display: flex;
    grid-column: 1;
    justify-self: start;
    height: 100vh;
	position: relative;
    z-index: 10;
}

.colonne.gauche {
	position: absolute;
	transform: translateY(0%);
    background-color: var(--electric-citrus1);
    display: grid;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    height: 100vh;
	transition: 0.1s width 0.1s linear;
}

.colonne.gauche > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31vh; 
	width: 114px;
	margin: 18px;
	border-radius: 15px;
    white-space: nowrap; 
	cursor: pointer;
	transition: 0.1s width 0.05s linear;
}

.colonne.gauche a {
	display: flex;

	height: 33vh;
	width: 100%;
	justify-content: center ;
	align-items: center;
	
	font-size: 3.25vh;
    font-weight: bold;
    text-transform: uppercase;
	transform: rotate(-180deg);
	writing-mode: vertical-rl;
}

.fond{
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 150px;
    background-color: var(--electric-citrus1);
    height: 100%;
	width: 0;
	transition: 0.1s width 0.1s linear;
	overflow-y: auto;
	align-items: center;
}

.accueil:has(.ouvert) {
	.menuJeu{
		/*
		filter: blur(2px) brightness(0.8);
		transition: 0.1s filter 0.1s;
		*/
		pointer-events: none;
	}

	.fond {
		transition: 0.1s width 0.1s ease;

		width: 50vw;
	}


	.score_open,
	.credit-open {
		transition: 0.1s width 0.1s ease;
		width: 92%;
	}
}

.colonne.gauche > div.btn-cliquer > a {
	transition: 0.1s font-size 0.1s;
	font-size: 4.25vh;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.colonne.gauche > div > a{
	transition: 0.1s font-size 0.1s;
	font-family: gaucheFont;
}