@import url("palette.css");

.difficulteContent {
    text-align: center;
    padding: 3rem 2rem;

    font-family: titreFont;
    font-weight: 900;
    padding: 5px;
    color: var(--electric-citrus1);
    background-color: var(--darkblue1);
        
    margin: 20px;
	height: 93%;
	width: 92%;
	border: 4px var(--darkblue2) solid;
	border-radius: 18px;
}

.difficulteContent h2 {
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 1rem;
}

.difficulte-grid {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.btn-difficulte {
    padding: 1rem 2.5rem;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    border: 2px var(--electric-purple2) solid;
;
    border-radius: 8px;
    transition: transform 0.2s, filter 0.2s;
    color: var(--white1);
    background-color: var(--electric-purple2);
    text-transform: uppercase;
    font-family: baseFont;
}

.btn-difficulte:hover {
    transform: scale(1.05);


}

.btn-difficulte.selected {
    transform: scale(1.1);
    background-color: var(--electric-citrus1);
    border-color: var(--electric-citrus1);
    color: var(--darkblue2);
    
}




