.credit_open{
    margin: 20px;
	height: 100%;
	width: 92%;
	border: 4px var(--darkblue2) solid;
	border-radius: 18px;
	background-color: var(--darkblue2);
}

.credit-header {
	background-color: var(--darkblue1);
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}

.creditContent{
	height: 100%;
	width: 100%;
}

.steamPage{
    display: none;
	border: none;
	height: 75%;
    width: 100%;
}

.steamPage.active{
    display: flex;
}