body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.viewContent.activeOnly > section:not(.active) {
	display: none;
}

.noselect {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}