.rejouer{
	filter: blur(3px);
}

.blur{
	height: 100%;
	width: 100%;
}

.joueurMort {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.joueurMort p {
	font-size: 30px;
	color: var(--white1);
}

.joueurMort .main {
	font-size: 35px;
	font: bold;
}

.joueurMort:not(.active) {
	display: none;
}