.rejouer{
	filter: blur(3px);
}

.blur{
	height: 100%;
	width: 100%;
}

.rejouerButton{
	display: none;
	margin-inline: 50vw;
  	margin-bottom: 50vh;
	transform: translateX(20px) !important;
}

.rejouerButton.displayButton{
	display: flex;
}