.score_open{
	margin: 20px;
	height: 100%;
	width: 92%;
	border: 4px var(--black1) solid;
	border-radius: 18px;
	background-color: var(--black3);

	table{
		width: 92%;
	}
}


.tableau-scores {
	width: 100%;
	border-collapse: collapse;
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tableau-scores th {
	color: var(--electric-pink);
	border-bottom: 2px solid var(--electric-pink);
	padding: 10px;
}

.tableau-scores td {
    text-align: center;
	padding: 12px 10px;
	border-bottom: 1px solid #ddd;
	color: var(--white1);
}

.col-rank {
	font-weight: bold;
}
.col-pseudo {
	font-weight: 600;
}
.col-score {
	font-family: monospace;
	font-size: 1.1rem;
}
