@font-face {
	font-family: titreScoreFont; 
  	src: titreFont;
}

.score_open{
	margin: 20px;
	height: 100%;
	width: 92%;
	border: 4px var(--black1) solid;
	border-radius: 18px;
	background-color: var(--black3);

	table{
		width: 92%;
	}
}


.tableau-scores {
	width: 100%;
	border-collapse: collapse;
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tableau-scores th {
	color: var(--electric-citrus2);
	border-bottom: 2px solid var(--electric-citrus2);
	padding: 10px;
}

.tableau-scores td {
    text-align: center;
	padding: 12px 10px;
	border-bottom: 1px solid #ddd;
	color: var(--white1);
	font-weight: 900;
}

.col-rank {
	font-weight: bold;
}
.col-pseudo {
	font-weight: 600;
}
.col-score {
	font-family: monospace;
	font-size: 1.1rem;
}

h2{
	font-family: titreFont;
	color: var(--electric-citrus1);
	text-align: center;
	font-weight: 900;
}

.scores-header {
	background-color: var(--electric-purple1);
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}